@import url('https://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(229,235,242);
}

.whole-content {
    display: flex;
    flex-direction: column;
    /*height: 22%;*/
    /*width: 14%;*/
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /*background-image: url("weather-asset/Storm.jpeg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer
}

.container {
    background-color: rgba(75, 75, 75, 0.5);
    background-image: url("weather-asset/Storm.jpeg");
    /*height: 100%;*/
    color: white;
    /*width: 14%;*/
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
}

.state {
    font-weight: 400;
    font-size: 18px;
}

.country {
    font-size: 12px;
}

.weather-containers {
    display: flex;
    gap: 5px;
}

.weather-icon {
    height: 42px;
}


.weather-container {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 350;
    position: relative;
}

.weather-condition {
    font-size: 32px;
}

.unit {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 2px;
    font-weight: 200;
}

p {
    margin: 0;
}

.real-feel {
    margin-top: -5px;
    font-size: 13px;
    margin-bottom: 0;
}

.cons {
    margin: 0;
    /*gap: 3px;*/
    display: flex;
    flex-direction: column;
}

.condition {
    margin: 0;
    font-size: 12px;
}

.inner-part {
    display: flex;
    flex-direction: column;
    /*width: 40vw;*/
    /*padding: 20px;*/
    border-radius: 6px;
    background-color: white;
    /*font-family: 'Arial', sans-serif;*/
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    padding: 15px 20px;
    gap: 20px;
}

.current-weather {
    text-transform: uppercase;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: rgb(133,133,133);
}

.time {
    font-weight: 700;
    font-family: 'Arial Condensed', sans-serif;
    font-size: 12px;
    color: rgb(65,64,64);
    margin: 0;
}

.weather-box {
    display: flex;
    gap: 70px;
    padding: 20px;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weather-display {
    display: flex;
    gap: 20px;
    align-items: center;
}

.weather-image {
    font-size: 55px;
    color: rgb(253,137,60);
}

.temp-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.temperature {
    font-size: 84px;
    /*font-family: 'Helvetica Neue LT Condensed', Helvetica, Arial, sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: 'Arial Condensed', sans-serif;*/
    font-weight: 700;
    position: relative;
}

.temp {
    letter-spacing: -7px;
}

.deg {
    position: absolute;
    bottom: 20px;
    right: 3px;
    font-family: 'Helvetica Neue LT Condensed', Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.real-feels {
    margin: -15px 0 0 0;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}


























