@import url('https://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003');

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.whole-content {
    display: flex;
    flex-direction: column;
    height: 22%;
    width: 14%;
    border-radius: 10px;
    justify-content: center;
    background-image: url("weather-asset/Storm.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    background-color: rgba(75, 75, 75, 0.5);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 20px;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

.state {
    font-weight: 400;
    font-size: 18px;
}

.country {
    font-size: 12px;
}

.weather-container {
    display: flex;
    gap: 10px;
}

.weather-icon {
    font-size: 32px;
}

.weather-container {
    font-size: 32px;
    position: relative;
}

.weather-container span {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 0;
}

p {
    margin: 0;
}

.real-feel {
    margin-top: -5px;
    font-size: 12px;
}