@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18005,18004,18003');

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
}

.whole-content-container {
    display: flex;
    height: 100vh;
    width: 70%;
}

.whole-content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
}

.date-task-no {
    display: flex;
    flex-direction: column;
}

.date-task-no h1 {
    text-transform: uppercase;
    font-weight: 900;
}

.task-no {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(128, 128, 128);
}

.task-no p {
    margin: 0;
}

.todo-lists {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

article {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-transform: capitalize;
}

article p {
    font-size: 15px;
    margin: 0;
}

.title-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description {
    text-transform: lowercase;
    color: rgb(128, 128, 128);
    font-size: 13px;
}

.add-new {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    border: none;
    background-color: white;
    margin-top: 20px;
    cursor: pointer;
}

.todo-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 60%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.interval-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 30px;
}

.interval-space {
    display: flex;
    gap: 8px;
}

.time-interval-space {
    display: none;
    padding: 1px 30px;
    border: 1px solid #2a2a2a;
    font-size: 13px;
    justify-content: center;
    align-items: center;
}

.show-calendar,
.add-task,
.cancel{
    border: none;
    background-color: rgb(212,79,68);
    font-size: 13px;
    color: white;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 5px;
}

.cancel {
    background-color: #fdfcfc;
    padding: 7px 11px;
    color: rgb(137,137,137);
}

.cancel:hover {
    background-color: #e0e0e0;
}

.checker {
    display: flex;
    width: auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.calendar-container {
    display: none;
    /*z-index: 1000;*/
    background: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-container header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .calendar-navigation {
    display: flex;
}

header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.9rem;
}

.calendar-navigation span:last-child {
    margin-right: -10px;
}

header .calendar-navigation span:hover {
    background: #f2f2f2;
}

header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}

.calendar-body {
    padding: 20px;
}

.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 20px;
}

.calendar-body li {
    width: calc(100% / 7);
    font-size: 13px;
    color: #414141;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}

.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.active {
    color: #fff;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}
